@charset "utf-8";
.btn-a, .btn-b {
    display: inline-block;
    padding: 0 12px;
    line-height: 28px;
    font-size: 12px;
    border-radius: 3px
}

.btn-a {
    background-color: #ffa800;
    color: #fff
}

.btn-b {
    background-color: #ffeec6;
    color: #ff8a00
}

.btn-a:hover, .btn-b:hover {
    text-decoration: none
}

.btn-a:hover {
    background-color: #ff8a00;
    color: #fff
}

.btn-b:hover {
    background-color: #ffa800;
    color: #fff
}

body {
    min-width: 1000px
}

.wrapper {
    font-size: 14px;
    line-height: 24px;
    color: #666
}

.qt-details h5 .icon, .add-pic i, .tags-add {
    background: url("../images/mfwask-qt_v2.png") no-repeat
}

.qt-container {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 80px
}

.qt-main {
    width: 660px;
    float: left
}

.qt-main h5 {
    height: 30px;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    color: #333
}

.crumb {
    height: 24px;
    padding: 25px 0 27px
}

.question-user {
    margin-bottom: 35px;
    font-size: 22px;
    color: #444;
    line-height: 28px
}

.question-user a {
    color: #ffa800
}

.question-user a:hover {
    color: #ff7200;
    text-decoration: none
}

.user-card .action {
    overflow: hidden;
    text-align: center;
    *zoom: 1
}

.user-card .action .btn-question {
    display: inline-block;
    height: 26px;
    width: 90px;
    background: #ffa800;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #fff9ed;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
    border-bottom: 2px solid #ff8a00;
    border-radius: 3px
}

.user-card .action .btn-question:hover {
    background-color: #ff8a00;
    text-decoration: none;
    color: #fff
}

.user-card .action .btn-follow {
    display: inline-block;
    height: 30px;
    width: 110px;
    background: #a1bd5e;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
    border-radius: 2px
}

.user-card .action .btn-follow:hover {
    background-color: #a0c34d;
    text-decoration: none;
    color: #fff
}

.person {
    float: left;
    width: 48px;
    line-height: 18px;
    display: inline;
    overflow: hidden
}

.person50 .person, .person90 .person, .person50 {
    width: 48px
}

.person90 {
    width: 90px
}

.person .avatar {
    margin-bottom: 8px
}

.person .name {
    height: 18px;
    overflow: hidden;
    line-height: 20px;
    text-align: center
}

.person .name a {
    color: #ff7200
}

.person .level {
    text-align: center
}

.person .level a, .level {
    color: #d20000 !important;
    font-size: 10px;
    font-family: Verdana;
    font-weight: bold
}

.user-card {
    position: absolute;
    z-index: 2;
    margin: -16px 0 0 -16px;
    width: 330px;
    border: 1px solid #ffe2a4;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.05)
}

.user-card .uc-bd {
    background-color: #fff8e9;
    height: 152px
}

.user-card .person {
    display: inline;
    padding: 15px
}

.person .person {
    margin-left: 0 !important
}

.get_help {
    width: 120px;
    float: left;
    padding-top: 30px
}

.a-tag {
    display: inline-block;
    margin: 3px 5px 0 0;
    line-height: 20px !important;
    padding: 0 15px;
    background-color: #f6f6f6;
    border: 1px solid #e5e5e5;
    border-radius: 11px;
    color: #666;
    font-size: 12px !important;
    white-space: nowrap
}

.a-tag:hover {
    background-color: #ff9d00;
    border: 1px solid #ff9d00;
    color: #fff;
    text-decoration: none
}

.user-card {
    position: absolute;
    z-index: 2;
    margin: -16px 0 0 -16px;
    width: 330px;
    border: 1px solid #ffe2a4;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
    z-index: 10
}

.user-card .uc-bd {
    background-color: #fff8e9;
    height: 152px
}

.user-card .person {
    display: inline;
    padding: 15px
}

.person .person {
    margin-left: 0 !important
}

.get_help {
    width: 120px;
    float: left;
    padding-top: 30px
}

.user-card .grade {
    padding: 10px 0 20px;
    font-size: 16px;
    text-align: center
}

.user-card .grade img {
    vertical-align: -4px;
    *vertical-align: middle
}

.user-card .tags {
    clear: both;
    margin: 0;
    padding: 15px;
    background: #fff;
    border-top: 1px solid #ffe2a4
}

.user-card .tags span {
    display: block;
    margin-bottom: 5px
}

.user-card .uc-ft {
    width: 130px;
    border-left: 1px solid #ffe2a4;
    line-height: 50px;
    text-align: center;
    overflow: hidden
}

.user-card .uc-ft li {
    float: left;
    width: 130px;
    display: inline;
    border-bottom: 1px solid #ffe2a4;
    height: 50px
}

.user-card .uc-ft li.ucft_last {
    border-bottom: 0
}

.user-card .uc-ft a {
    display: block;
    color: #836b4c
}

.user-card .uc-ft a:hover {
    text-decoration: none
}

.user-card .uc-ft em {
    font-style: normal;
    font-family: Georgia, Verdana;
    font-size: 22px
}

.qt-tit {
    margin-bottom: 24px
}

.qt-tit input {
    display: block;
    width: 628px;
    height: 30px;
    padding: 6px 15px;
    border: 1px solid #e5e5e5;
    color: #999;
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 14px;
    -webkit-transition: all .2s;
    transition: all .2s
}

.qt-tit input:focus {
    border-color: #ff9d00;
    box-shadow: 0 0 3px #ff9d00
}

.qt-tit .count {
    padding-right: 12px;
    color: #999
}

.qt-tit .error {
    font-size: 12px;
    color: #ef523d
}

.qt-details {
    margin-bottom: 24px
}

.qt-details h5 .icon {
    display: block;
    float: left;
    width: 28px;
    height: 28px;
    margin: 1px 10px 0 0;
    background-position: 0 0;
    transition: transform .5s
}

.qt-details h5 .icon:hover {
    background-position: 0 -28px
}

.qt-details h5 .icon.active {
    transform: rotate3d(0, 0, 1, 45deg)
}

.qt-details .qt-con {
    display: none
}

.qt-details-box {
    width: 658px;
    border: 1px solid #e5e5e5;
    margin-top: 5px
}

.qt-details-func {
    height: 22px;
    padding: 16px 20px;
    background-color: #efefef;
    border-bottom: 1px solid #e5e5e5;
    line-height: 22px
}

.insert-img {
    width: 88px;
    height: 22px
}

.add-pic {
    color: #999;
    display: block
}

.add-pic i {
    display: block;
    float: left;
    width: 22px;
    height: 22px;
    margin-right: 6px;
    background-position: 0 -112px
}

.add-pic:hover, .insert-img:hover .add-pic {
    color: #ff9d00;
    text-decoration: none;
    cursor: pointer
}

.insert-img:hover .add-pic i {
    background-position: 0 -134px
}

.insert-img:hover, .insert-img input {
    cursor: pointer
}

.qt-details-area {
    padding: 10px
}

.qt-details-area textarea {
    display: block;
    width: 638px;
    height: 150px;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 14px;
    line-height: 22px;
    color: #666
}

.word-count {
    float: left;
    margin-right: 20px;
    line-height: 32px;
    color: #999
}

.qt-mdd .qt-con {
    width: 100%;
    height: 34px;
    margin-top: 8px;
    margin-bottom: 30px;
    position: relative
}

.qt-mdd input {
    display: block;
    width: 618px;
    height: 32px;
    padding: 0 20px;
    border: 1px solid #e5e5e5;
    color: #999;
    font-size: 14px;
    z-index: 6;
    -webkit-transition: all .2s;
    transition: all .2s
}

.qt-mdd input:focus {
    border-color: #ff9d00;
    box-shadow: 0 0 3px #ff9d00
}

.qt-mdd-option {
    width: 638px;
    padding: 10px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    box-shadow: 1px 1px 2px #e5e5e5;
    position: absolute;
    left: 0;
    top: 33px;
    z-index: 12;
    display: none
}

.mdds_search_list {
    position: absolute;
    left: 0;
    right: 0;
    top: 33px;
    max-height: 255px;
    _height: 250px;
    z-index: 10;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    overflow-y: auto
}

.mdds_search_list li {
    line-height: 30px;
    padding-left: 30px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer
}

.mdds_search_list li.on {
    background-color: #fff6df
}

.mdds_search_list li span {
    color: #ff8a00
}

.qt-mdd .tabs {
    height: 34px;
    margin-bottom: 15px;
    line-height: 34px
}

.qt-mdd .tabs ul {
    float: left
}

.qt-mdd .tabs li {
    float: left;
    width: 66px;
    margin-right: 12px;
    text-align: center
}

.qt-mdd .tabs li a {
    display: block;
    background-color: #999;
    border-radius: 2px;
    font-size: 16px;
    color: #fff
}

.qt-mdd .tabs .on a {
    background-color: #ffa800;
    text-decoration: none
}

.qt-mdd .tabs .location {
    color: #999
}

.location a {
    color: #999
}

.location span {
    padding: 0 8px
}

.location ._qa_loc3 {
    padding: 0
}

.qt-place {
    width: 100%;
    position: relative;
    height: 170px
}

.qt-place h6 {
    margin: 0 0 4px 10px;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px
}

.qt-place li {
    float: left;
    width: 124px;
    height: 24px;
    display: inline;
    margin-bottom: 10px;
    line-height: 24px
}

.qt-place li a {
    display: block;
    padding: 0 10px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.qt-tags {
    padding-bottom: 3px
}

.qt-tags .qt-con {
    margin-top: 8px
}

.qt-tags .tag {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    border: 1px solid #e5e5e5;
    background-color: #f6f6f6;
    border-radius: 13px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 24px;
    position: relative;
    cursor: pointer;
    transition: all .2s
}

.qt-tags .tag span {
    display: inline-block;
    padding: 0 20px
}

.qt-tags .tag:hover {
    border-color: #ff9d00
}

.qt-tags .tag:hover span {
    color: #ff9d00
}

.qt-tags .tag.on, .qt-tags .tag.blink {
    background-color: #ff9d00;
    border-color: #ff9d00
}

.qt-tags .tag.on span, .qt-tags .tag.blink span {
    color: #fff
}

.tags-add {
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 20px;
    background-position: 0 -156px;
    cursor: pointer;
    transition: transform .5s
}

.tags-add.active {
    transform: rotate3d(0, 0, 1, 45deg)
}

.tags-ipt {
    display: none;
    width: 138px;
    height: 26px;
    position: relative
}

.tags-ipt.ib {
    display: inline-block
}

.tags-ipt input {
    display: block;
    width: 112px;
    height: 24px;
    padding: 0 12px;
    border: 1px solid #e5e5e5;
    background-color: #f6f6f6;
    font-size: 14px;
    line-height: 24px;
    color: #999;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    -webkit-transition: all .2s;
    transition: all .2s
}

.tags-option {
    width: 100%;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    position: absolute;
    left: -1px;
    top: 100%;
    box-shadow: 1px 1px 2px #e5e5e5;
    display: none;
    z-index: 10;
    max-height: 250px;
    overflow-y: auto
}

.tags-option a {
    display: block;
    width: 100%;
    height: 36px;
    line-height: 36px;
    text-indent: 12px;
    color: #666;
    text-decoration: none
}

.tags-option a:hover, .tags-option .on {
    background-color: #f6f6f6
}

.tags-ipt input:focus {
    border-color: #ff9d00;
    box-shadow: 0 0 3px #ff9d00
}

.tags-ipt input:focus + i {
    border-top-color: #ff9d00
}

.qt-interest {
    margin-bottom: 32px
}

.interest-description {
    margin-top: 14px;
    padding: 20px;
    background-color: #f6f6f6;
    border-radius: 4px;
    font-size: 12px
}

.interest-description dt {
    color: #333
}

.interest-description dt i, .interest-description dt span {
    display: inline-block;
    vertical-align: middle
}

.interest-description dt i {
    width: 16px;
    height: 16px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAANlBMVEWZmZmZmZmVlZWYmJiZmZmZmZmSkpJHcEyZmZmWlpb////t7e2fn5+tra329vbf39/Nzc26uroeXXK6AAAACnRSTlP/iQxXyJoHAOsh4/UatgAAAPRJREFUOMuNU1sChCAIpEwTzUf3v+ySKVK5285PKaMzIMDKmJVeLIBdtJr7LrQf1BRssBpvBDPBDZORBFzggQU7AS0MYLERxvHKIILh+7fso4spsIopBPYXojuR2elBQD5P8ZiSJ8be9pAIui2yc/74JudS29MrzOyQjhb1QBexzxkUmyaFrUiRBm8qYAUI4bS/V6lTAx41PHLJvZ5gB3G/9WLB7/gTXuQ4umMXKdbw1WSWBk+TWi7ptfx+IWhRqCGUKHXx4Ptj11KvUuOo8iUJLZ+7Erwk4KVhShZRSky3lns0tvmvad/b/n1w3kfvfXi/j/8HDCUMVKzDAWoAAAAASUVORK5CYII=) 0 0 no-repeat;
    margin-right: 4px;
    background-size: 100%
}

.interest-description dd {
    line-height: 18px;
    color: #999;
    margin-top: 8px
}

.interest-tags {
    margin-top: 20px
}

.interest-tags a {
    margin-bottom: 12px;
    margin-right: 12px;
    display: inline-block;
    padding: 0 12px 0 28px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    color: #474747;
    border: 1px solid #bdbfc2;
    border-radius: 12px;
    position: relative
}

.interest-tags a i {
    position: absolute;
    top: 5px;
    left: 12px;
    width: 12px;
    height: 12px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAANlBMVEVHcExGRkZGRkZHR0dDQ0NGRkZGRkZHR0dHR0dGRkZHR0dAQEBISEhHR0dHR0dHR0dHR0dHR0eqDZfhAAAAEXRSTlMA3Zg0BnFIwoX4zRCkXagk6lLiSJUAAABhSURBVBjTfdA5DsAgEEPRIexk9f0vG4SCB2V7xS9cgEDkz+q1nctwvRRQWEpILBUEtooYZCcx3sc6tLGZ4FkysGy342DJY2Oft1+XvY+VhWGHN06s6LGB1W/Lc69akvbTCe8bB0mPU3lzAAAAAElFTkSuQmCC) 0 0 no-repeat;
    background-size: 100%
}

.interest-tags a:hover, .interest-tags .on {
    background-color: #ff9d00;
    border-color: #ff9d00;
    color: #fff;
    text-decoration: none
}

.interest-tags a:hover i, .interest-tags .on i {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAOVBMVEVHcEz///////////////////////////////////////////////////////////////////////99PJZNAAAAEnRSTlMAbpg0iEjdwvgGeM2kEF2oJOpbejwFAAAAYElEQVQY033QRw7AIBBDUXpN9f0PG4SCJ0p7i7/wgpFQ6s+ipUNOyKPkUVlycCxVeLaJuEhZxXgf29DHzqCwFGDZYcPOksbKPq+fx97HxiKwVGBYJc96Vr4tzaNictJPB0bTB7ddx5DzAAAAAElFTkSuQmCC)
}

@media \0screen\,screen\9 {
    .interest-description dt i, .interest-tags a i {
        display: none
    }

    .interest-tags a {
        padding-left: 12px
    }
}

.qt-reward {
    margin-bottom: 54px
}

.qt-reward .qt-con {
    margin-top: 8px;
    height: 34px;
    line-height: 34px
}

.qt-reward .qt-con .honey_num {
    color: #999
}

.qt-reward .qt-con .honey_num i {
    color: #ff9d00;
    font-style: normal
}

.sel-money {
    float: left;
    margin-right: 10px;
    width: 210px;
    height: 34px;
    position: relative
}

._qa_honey_input {
    display: block;
    width: 164px;
    height: 32px;
    padding: 0 24px 0 20px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    line-height: 32px;
    color: #999;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    transition: all .2s
}

.sel-money i {
    display: block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #999;
    position: absolute;
    right: 8px;
    top: 15px;
    z-index: 2;
    transition: all .2s
}

.sel-money em {
    display: block;
    width: 1px;
    height: 18px;
    background-color: #ddd;
    position: absolute;
    right: 23px;
    top: 7px;
    z-index: 2
}

.sel-option {
    width: 100%;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    position: absolute;
    left: -1px;
    top: 100%;
    box-shadow: 1px 1px 2px #e5e5e5;
    display: none;
    color: #666
}

.sel-option li {
    height: 36px;
    padding-left: 20px
}

.sel-option li:hover {
    background-color: #f6f6f6
}

.sel-option .other_honey {
    padding-left: 10px;
    height: 40px
}

.other_honey input {
    padding-left: 9px;
    line-height: 24px;
    top: 4px;
    position: relative;
    border: 1px solid #fff
}

.sel-money input:focus, .set-money input:focus {
    border-color: #ff9d00;
    box-shadow: 0 0 3px #ff9d00
}

.sel-money input:focus + i {
    border-top-color: #ff9d00
}

.set-money {
    float: left;
    height: 34px
}

.set-money input {
    display: block;
    float: left;
    margin-right: 10px;
    width: 144px;
    height: 32px;
    padding: 0 12px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    line-height: 32px;
    color: #999;
    transition: all .2s
}

.qt-error {
    height: 32px;
    font-size: 12px;
    line-height: 32px;
    color: #ef523d
}

.qt-error span {
    display: none
}

.show_tips .qt-error span {
    display: inline
}

.qt-notice {
    height: 24px;
    margin-bottom: 4px
}

.qt-notice .checkbox {
    display: block;
    float: left;
    width: 14px;
    height: 14px;
    border-radius: 3px;
    border: 1px solid #ff9d00;
    margin-top: 4px;
    margin-right: 8px;
    cursor: pointer
}

.qt-notice .checkbox.active {
    background: #ff9d00 url("/images/mfw-ask/gou.png") no-repeat
}

.qt-notice p {
    color: #999
}

.qt-notice span {
    color: #ff9d00
}

.qt-post-btn {
    display: inline-block;
    width: 152px;
    height: 40px;
    background-color: #ff9d00;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    margin-top: 16px
}

.qt-post-btn:hover {
    background-color: #ff8a00;
    color: #fff;
    text-decoration: none
}

.publish_question .loading, .publish_question .turnning {
    background: #ff8a00 url(/images/mfw-ask/loading.gif) no-repeat center center;
    border-bottom-color: #db6200;
    text-indent: -999em
}

.qt-sider {
    width: 252px;
    padding-top: 82px;
    padding-right: 28px;
    float: right
}

.qt-sider .qts-tit {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px
}

.qt-sider p {
    margin-bottom: 24px;
    color: #999
}

.jspContainer {
    position: relative;
    overflow: hidden
}

.jspPane {
    position: absolute
}

.jspVerticalBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 6px;
    height: 100%
}

.jspVerticalBar * {
    margin: 0;
    padding: 0
}

.jspCap {
    display: none
}

.jspTrack {
    position: relative;
    background: #bbb;
    border-radius: 3px
}

.jspDrag {
    position: relative;
    top: 0;
    left: 0;
    background: #999;
    cursor: pointer;
    border-radius: 3px
}

* html .jspCorner {
    margin: 0 -3px 0 0
}

@media (min-resolution: 1.25dppx),(-webkit-min-device-pixel-ratio: 1.25),(min-device-pixel-ratio: 1.25) {
    .qt-details h5 .icon, .qt-details-func .add-pic i, .tags-add {
        background: url("/images/mfw-ask/mfwask-qt-2x_v2.png") no-repeat;
        background-size: 28px
    }

    .qt-details h5 .icon {
        background-position: 0 0
    }

    .qt-details h5 .icon.active {
        background-position: 0 -28px
    }

    .qt-details-func .add-pic i {
        background-position: 0 -112px
    }

    .qt-details-func .add-pic:hover i {
        background-position: 0 -134px
    }

    .tags-add {
        background-position: 0 -156px
    }

    .qt-notice .checkbox.active {
        background: #ff9d00 url("/images/mfw-ask/gou.png") 0 -14px no-repeat;
        background-size: 14px auto
    }
}

.turn {
    width: 48px;
    padding: 0 8px;
    padding-right: 0;
    position: absolute;
    right: 0;
    top: 0;
    background: #000;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    margin-top: 5px
}

.turn i {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url(/images/post/new_notes/sprite_v33.png) -439px -36px no-repeat;
    cursor: pointer;
    vertical-align: middle
}

.turn .right {
    background-position: -439px -61px
}

.turn .close {
    background-position: -460px -50px;
    margin-right: 0
}

.turn .go_set_page {
    font-weight: normal;
    color: #fff;
    margin: 0 8px;
    position: relative;
    cursor: pointer
}

.turn .go_set_page_tips:before {
    content: "";
    width: 90px;
    height: 32px;
    position: absolute;
    left: -12px;
    top: -10px;
    border: 2px dashed #de6751;
    border-radius: 10px
}

.turn .go_set_page_tips:after {
    content: "";
    width: 182px;
    height: 84px;
    background: url(/images/post/new_notes/nn_v2/tips_v4.png) 0 -202px no-repeat;
    position: absolute;
    top: -98px;
    left: -15px
}

.wysiwyg-editor {
    width: 638px;
    min-height: 150px;
    outline: 0;
    display: inline-block;
    padding: 0;
    outline: 0;
    font-size: 13px;
    line-height: 20px;
    color: #333;
    position: relative
}

.wysiwyg-editor img {
    max-width: 625px;
    display: inline-block;
    margin: 5px 0
}

.aa_content .wysiwyg-editor img {
    max-width: 606px
}

.wysiwyg-editor a, .wysiwyg-editor b, .wysiwyg-editor i, .wysiwyg-editor em, .wysiwyg-editor strong, .wysiwyg-editor pre {
    font-size: 13px !important;
    line-height: 20px !important;
    color: #333 !important
}

.ajax_loading {
    position: absolute;
    left: 10px;
    top: 55px;
    right: 10px;
    height: 175px;
    background-color: rgba(255, 255, 255, .5);
    z-index: 10
}

.ajax_loading i {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    top: 50%;
    margin: -6px 0 0 -6px;
    border-radius: 10px;
    background-color: #ffb846
}

.animationing i {
    -webkit-animation: loading_moving 1s ease-in-out infinite;
    animation: loading_moving 1s ease-in-out 0s infinite
}

.ajax_loading .i1 {
    margin-left: -32px
}

.ajax_loading .i2 {
    -webkit-animation-name: none;
    animation-name: none
}

.ajax_loading .i3 {
    margin-left: 20px;
    -webkit-animation-name: loading_moving2;
    animation-name: loading_moving2
}

@-webkit-keyframes loading_moving {
    0%, 100% {
        -webkit-transform: translateX(0px)
    }
    50% {
        -webkit-transform: translateX(52px)
    }
}

@keyframes loading_moving {
    0%, 100% {
        transform: translateX(0px)
    }
    50% {
        transform: translateX(52px)
    }
}

@-webkit-keyframes loading_moving2 {
    0%, 100% {
        -webkit-transform: translateX(0px)
    }
    50% {
        -webkit-transform: translateX(-52px)
    }
}

@keyframes loading_moving2 {
    0%, 100% {
        transform: translateX(0px)
    }
    50% {
        transform: translateX(-52px)
    }
}

.tags-ipt .ajax_loading {
    left: 2px;
    right: 2px;
    top: 29px;
    height: 32px;
    display: none
}

.pop_bind {
    width: 480px;
    padding: 30px 50px;
    background: #fff
}

.pop_bind dt {
    font-size: 18px
}

.pop_bind h4 {
    margin: 25px 0 10px;
    font-weight: normal;
    font-size: 14px
}

.pop_bind input {
    width: 280px;
    height: 24px;
    line-height: 24px;
    margin-right: 10px;
    font-size: 14px;
    padding-left: 10px
}

.pop_bind .pb_tel {
    float: left
}

.pop_bind .pb_yzm {
    width: 100px
}

.b_submit .btn-a {
    margin-right: 20px
}

.b_submit {
    margin-top: 25px
}

._admin_hide_question {
    display: inline;
    margin-left: 20px;
    cursor: pointer
}

._admin_hide_question input {
    margin-right: 5px
}

._admin_hide_question:hover {
    color: #ff8a00
}

.popup-invite {
    width: 682px
}

.popup-invite .pop-ctn {
    padding: 40px 40px 20px;
    background-color: #fff;
    text-align: left
}

.popup-invite .msg-done {
    margin-bottom: 25px;
    text-align: center;
    font-size: 22px
}

.popup-invite .msg-done i {
    display: inline-block;
    margin-right: 10px;
    width: 55px;
    height: 55px;
    background: url(/images/mfw-ask/mfw-ask-sprite19.png) no-repeat 0 -200px;
    overflow: hidden;
    vertical-align: middle
}

.popup-invite .title {
    font-size: 16px;
    line-height: 30px
}

.popup-invite .expert {
    width: 602px;
    overflow: hidden
}

.popup-invite .expert ul {
    margin: 0 -31px;
    *zoom: 1
}

.popup-invite .expert li {
    float: left;
    width: 160px;
    display: inline;
    margin: 26px 0 0;
    padding: 0 30px;
    height: 120px;
    border-left: 1px solid #e3e3e3
}

.popup-invite .user {
    height: 48px;
    margin-bottom: 10px;
    padding-left: 60px;
    overflow: hidden;
    *zoom: 1
}

.popup-invite .avatar {
    float: left;
    margin: 0 0 0 -60px
}

.popup-invite .name {
    color: #ff7200
}

.popup-invite .place {
    display: block;
    margin: 5px 0;
    font-size: 14px;
    color: #0d89e3;
    line-height: 18px
}

.popup-invite .place i {
    float: left;
    margin-right: 4px;
    width: 16px;
    height: 18px;
    background: url(/images/mfw-ask/guide-sprite.png) no-repeat -170px -30px;
    overflow: hidden
}

.popup-invite .stat {
    margin-bottom: 10px;
    color: #444
}

.popup-invite .btn-invite {
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    background-color: #fff4d9;
    border-radius: 2px;
    overflow: hidden
}

.popup-invite .btn-invite:hover {
    background-color: #ffa800;
    color: #fff;
    text-decoration: none
}

.popup-invite span.btn-invite {
    height: 28px;
    _padding-top: 7px;
    _height: 21px;
    border: 1px solid #ffe097;
    background: 0;
    color: #999;
    line-height: 28px
}

.popup-invite span.btn-invite:hover {
    background: 0;
    color: #999
}

.popup-invite span.btn-invite i {
    display: inline-block;
    margin-right: 5px;
    width: 15px;
    height: 11px;
    background: url(/images/mfw-ask/mfw-ask-sprite19.png) no-repeat -60px -200px;
    overflow: hidden
}

.popup-invite .pop-btn {
    margin-top: 26px;
    padding: 0;
    text-align: right
}

.popup-invite .pop-btn a {
    display: inline-block;
    width: 100px;
    height: 35px;
    background-color: #ffa800;
    text-align: center;
    border-radius: 2px;
    font-size: 18px;
    color: #fff;
    line-height: 34px
}

.popup-invite .pop-btn a:hover {
    text-decoration: none;
    background-color: #ff8a00
}

.sp-input {
    position: relative
}

.sp-input p {
    float: left;
    margin-right: 10px;
    line-height: 20px;
    height: 20px;
    border: 1px solid #e5e5e5;
    background: #f6f6f6;
    border-radius: 10px;
    padding: 0 14px;
    font-size: 12px;
    color: #666
}

.sp-input p i {
    cursor: pointer;
    font-style: normal;
    margin-left: 8px;
    width: 5px;
    height: 5px;
    background: url("/images/wenda/search-close.png") no-repeat;
    display: inline-block;
    vertical-align: top;
    margin-top: 7px
}

.search-box .sp-input input {
    float: left;
    width: 450px
}

.tar-box {
    height: 26px
}

.tar-box b {
    width: 1px;
    height: 16px;
    background: #aaa;
    overflow: hidden;
    margin: 5px 25px;
    display: inline-block
}

.tar-box i {
    width: 26px;
    height: 26px;
    cursor: pointer;
    background: url("/images/textarea-icon.png") no-repeat;
    display: inline-block;
    background-position: 5px 5px
}

.tar-box i.bold, .tar-box i._js_bold:hover {
    background-position: 5px -36px
}

.tar-box i.txt-und {
    background-position: -57px 0
}

.tar-box i.on-txt-und {
    background-position: -57px -41px
}

.tar-box i.ins-img {
    background-position: -101px 5px
}

.tar-box i.ins-img:hover {
    background-position: -101px -36px
}

@media (min-resolution: 1.25dppx),(-webkit-min-device-pixel-ratio: 1.25),(min-device-pixel-ratio: 1.25) {
    .tar-box i {
        background: url("/images/wenda/@2xtextarea-icon.png?a=1") no-repeat;
        background-size: 69px 48px;
        background-position: 5px 5px
    }

    .tar-box i.bold {
        background-position: 0 -26px
    }

    .tar-box i.txt-und {
        background-position: -28px 0
    }

    .tar-box i.on-txt-und {
        background-position: -28px -31px
    }

    .tar-box i.ins-img {
        background-position: -47px 5px
    }

    .tar-box i.ins-img:hover {
        background-position: -47px -26px
    }

    .tar-box i.bold, .tar-box i._js_bold:hover {
        background-position: 5px -26px
    }
}

.insert_img {
    width: 26px;
    height: 26px;
    position: relative;
    display: inline-block
}

.insert_img input, .insert_img div {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100% !important;
    height: 100% !important
}

.insert_img input {
    line-height: 0
}

.group-pop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 500
}

.group-pop .p-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .7;
    background: #000
}

.popup-inst .img-box {
    width: 650px;
    margin: 0 auto;
    position: relative
}

.up_pics_wrap {
    height: 260px;
    overflow-x: hidden
}

.popup-inst {
    width: 710px;
    height: 420px
}

.popup-inst .popup-title {
    position: relative;
    height: 77px
}

.popup-inst .popup-title h2 {
    font-size: 18px;
    color: #666;
    font-weight: normal;
    line-height: 77px;
    margin-left: 30px
}

.popup-inst .popup-title .close-btn {
    top: 20px
}

.popup-inst .upload-pro {
    padding-left: 30px
}

.popup-inst .upload-pro p {
    float: left;
    line-height: 80px;
    font-size: 14px;
    color: #666
}

.popup-inst .upload-pro .pics_nums {
    font-size: 18px;
    margin-right: 5px
}

.popup-inst .upload-pro p span em {
    color: #fb8a25;
    font-style: normal
}

.popup-inst .upload-pro .u-inst {
    float: right;
    margin-right: 30px;
    margin-top: 25px;
    background: #ff9d00;
    color: #fff;
    text-align: center;
    line-height: 35px;
    width: 120px;
    height: 35px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer
}

.popup-inst .upload-pro .gray {
    background: #CCC
}

.popup-inst .up-rates {
    width: 160px;
    height: 12px;
    float: left;
    background-color: #d7d7d7;
    margin: 33px 15px 0 15px;
    border-radius: 5px;
    overflow: hidden;
    text-align: left
}

.popup-inst .up-rates .run-rates {
    height: 12px;
    background-color: #b0d564
}

.rt-scroll {
    position: absolute;
    right: -20px;
    top: -5px;
    width: 6px;
    height: 270px;
    overflow: hidden;
    background: #fff
}

.rt-scroll p {
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 120px;
    border-radius: 5px;
    background: #CCC;
    cursor: pointer
}

.up_list ul {
    width: 660px;
    overflow: hidden
}

.up_list li {
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    float: left;
    position: relative;
    cursor: pointer;
    overflow: hidden
}

.up_list li .mos-into {
    display: none
}

.up_list li:hover .mos-into {
    display: block
}

.up_list li img {
    width: 100px;
    height: 100px
}

.up_list li.li_bar .bar, .up_list li.li_wait .wait, .up_list li.li_failure .failure {
    display: block
}

.up_list li.li_cover .bar {
    display: block
}

.up_list li.li_cover .pro_bar {
    display: none
}

.cover, .cover_pop {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0
}

.cover {
    display: none
}

.cover_pop {
    background: rgba(0, 0, 0, 0.6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#AB000000, endColorstr=#AB000000)
}

.pro_bar {
    width: 100%;
    height: 16px;
    line-height: 16px;
    top: 84px;
    position: absolute;
    background: #9abd5b
}

.pro_bar i {
    position: absolute;
    height: 16px;
    left: 0;
    top: 0;
    background: #add75c;
    width: 0
}

.pro_bar span {
    position: absolute;
    right: 5px;
    color: #fff
}

.wait_up {
    width: 48px;
    height: 36px;
    line-height: 18px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -18px 0 0 -24px;
    font-size: 14px;
    color: #fff
}

.close_ico {
    width: 20px;
    height: 20px;
    background: url(http://css.mafengwo.net/images/post/new_notes/sprite_v31.png) -442px 0 no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer
}

.up_failure {
    width: 65px;
    height: 65px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -30px 0 0 -33px;
    text-align: center;
    color: #fff
}

.up_failure i {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto 10px;
    background: url(http://css.mafengwo.net/images/post/new_notes/sprite_v31.png) -305px 0 no-repeat
}

.add_more_pics {
    background-image: url(/images/mfw-ask/add_more_pics.png)
}

.add_more_pics a {
    display: block;
    width: 100%;
    height: 100%
}

.add_more_pics i {
    width: 44px;
    height: 44px;
    position: absolute;
    left: 28px;
    top: 28px;
    background-image: url(/images/mfw-ask/add_more_pics.png);
    background-position: -101px 0
}

.add_more_pics:hover {
    background: #ffc65a;
    -webkit-transition: background .2s linear 0s;
    -moz-transition: background .2s linear 0s;
    transition: background .2s linear 0s
}

.add_more_pics:hover i {
    background-position: -101px -46px
}