<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.luowowo.member.mapper.UserMapper">
    <update id="setViewNum" parameterType="user">
        UPDATE user set viewnum=#{viewnum}
        where id=#{id}
    </update>

    <update id="savePhone">
        UPDATE user
        SET phone = #{phone}
        WHERE id = #{id}
    </update>
    <update id="update">
        UPDATE user
        SET nickname=#{nickname},
            gender=#{gender},
            city=#{city},
            birthday=#{birthday},
            headImgUrl=#{headImgUrl},
            info=#{info}
        where id =#{id}
    </update>
    <insert id="setFolws">
         INSERT into user_follow(user_id,follow_id) VALUES(#{userId},#{id})
    </insert>
    <select id="selectAll" resultType="cn.wolfcode.luowowo.member.domain.User">
        SELECT *
        FROM user
    </select>
    <select id="get" resultType="cn.wolfcode.luowowo.member.domain.User">
        SELECT *
        FROM user
        WHERE id = #{id}
    </select>
    <select id="listFollow" resultType="cn.wolfcode.luowowo.member.domain.User">
        SELECT
            f.id,
            f.nickname,
            f.headImgUrl
        FROM user u LEFT JOIN user_follow uf ON u.id = uf.user_id
            LEFT JOIN user f ON uf.follow_id = f.id
        WHERE uf.user_id = #{id}
    </select>
    <select id="selectForList" resultType="cn.wolfcode.luowowo.member.domain.User">
        SELECT *
        FROM user
        <where>
            <if test="keyword !=null">
                and nickname like concat('%',#{keyword},'%')
            </if>
            <if test="userinfoId !=-1">
                and id != #{userinfoId}
            </if>
        </where>
    </select>
    <select id="getUserByIdNotIn" resultType="cn.wolfcode.luowowo.member.domain.User">
        select * from user where id not in
        <foreach collection="list" open="(" separator="," close=")" item="item">
            #{item}
        </foreach>

    </select>
    <select id="listById" resultType="java.lang.Long">
        select  follow_id  from user_follow where user_id=#{userId}
    </select>
</mapper>