<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.luowowo.article.mapper.StrategyCommendMapper">
    <resultMap id="BaseResultMap" type="cn.wolfcode.luowowo.article.domain.StrategyCommend">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="detail_id" jdbcType="BIGINT" property="detailId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="subTitle" jdbcType="VARCHAR" property="subTitle"/>
        <result column="coverUrl" jdbcType="VARCHAR" property="coverUrl"/>
        <result column="sequence" jdbcType="INTEGER" property="sequence"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM strategy_commend
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="cn.wolfcode.luowowo.article.domain.StrategyCommend" useGeneratedKeys="true">
        INSERT INTO strategy_commend (detail_id, title, subTitle,
                                      coverUrl, sequence, state
        )
        VALUES (#{detailId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{subTitle,jdbcType=VARCHAR},
                #{coverUrl,jdbcType=VARCHAR}, #{sequence,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}
        )
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.wolfcode.luowowo.article.domain.StrategyCommend">
        UPDATE strategy_commend
        SET detail_id = #{detailId,jdbcType=BIGINT},
            title     = #{title,jdbcType=VARCHAR},
            subTitle  = #{subTitle,jdbcType=VARCHAR},
            coverUrl  = #{coverUrl,jdbcType=VARCHAR},
            sequence  = #{sequence,jdbcType=INTEGER},
            state     = #{state,jdbcType=INTEGER}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
            id,
            detail_id,
            title,
            subTitle,
            coverUrl,
            sequence,
            state
        FROM strategy_commend
        WHERE id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
            id,
            detail_id,
            title,
            subTitle,
            coverUrl,
            sequence,
            state
        FROM strategy_commend
    </select>
    <select id="selectForList" resultMap="BaseResultMap">
        SELECT
            id,
            detail_id,
            title,
            subTitle,
            coverUrl,
            sequence,
            state
        FROM strategy_commend
    </select>
    <select id="selectTop5" resultMap="BaseResultMap">
        SELECT
            id,
            detail_id,
            title,
            subTitle,
            coverUrl,
            sequence,
            state
        FROM strategy_commend
        ORDER BY sequence DESC
        LIMIT 5
    </select>
</mapper>