<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.luowowo.article.mapper.TravelAgencyMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.luowowo.article.domain.TravelAgency">
    <id column="id" property="id" />
    <result column="nickname" property="nickname" />
    <result column="headimgUrl" property="headimgUrl" />
    <result column="site" property="site" />
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from travelagency
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into travelagency (nickname, headimgUrl, site)
    values (#{nickname}, #{headimgUrl}, #{site})
  </insert>
  <update id="updateByPrimaryKey">
    update travelagency
    set nickname = #{nickname},
      headimgUrl = #{headimgUrl},
      site = #{site}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, nickname, headimgUrl, site
    from travelagency
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, nickname, headimgUrl, site
    from travelagency
  </select>
</mapper>